<!-- Style ------------------------------------------------------------>
<%- contentFor('style'); %>

<!-- Content ------------------------------------------------------------>
<%- contentFor('content'); %>

<div class="content-wrapper">
    <!-- Page Header -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Dashboard</h1>
                </div>
            </div>
        </div>
    </section>
    <!-- / Page Header -->

    <section class="content">
        <div class="container-fluid">
            <div class="row">


                <!-- Col 2 -->
                
                <!-- / Col 2 -->
            </div>
        </div>
    </section>
</div>
<!-- Script ------------------------------------------------------------>
<%- contentFor('script'); %>