node_modules/
database/
.zip
.env
.idea
.idea/*
package-lock.json
!public/storage/default
!public/storage/gifts
!public/storage/newifc-gifts
!public/storage/performance-meter
public/storage/*

dataSources.xml
.idea/dataSources.xml
desktop.ini
.vscode