<div class="pageLoaderLoadPage c-page-loader">
    <div class="loader-container">
        <span></span> <span></span> <span></span>
    </div>
</div>

<div class="pageLoader c-page-loader" style="display: none">
    <div class="loader-container">
        <span></span> <span></span> <span></span>
    </div>
</div>
