<!-- Style ------------------------------------------------------------>
<%- contentFor('style'); %>

<!-- Content ------------------------------------------------------------>
<%- contentFor('content'); %>

<div class="lockscreen-wrapper">
    <div class="lockscreen-logo">
        <h1>403</h1>
    </div>
    <div class="help-block text-center">
        Access denied
    </div>
</div>

<!-- Script ------------------------------------------------------------>
<%- contentFor('script'); %>

