<!-- Style ------------------------------------------------------------>
<%- contentFor('style'); %>

<!-- Content ------------------------------------------------------------>
<%- contentFor('content'); %>

<div class="lockscreen-wrapper">
    <div class="lockscreen-logo">
        <h1>500</h1>
    </div>
    <div class="help-block text-center">
        Oops! Something went wrong.
    </div>
</div>


<!-- Script ------------------------------------------------------------>
<%- contentFor('script'); %>

