<div class="pageLoaderLoadPage c-page-loader">
    <div class="loader-container">
        <img src="/fw2ezuyzb751/img/coin-machine.gif">
<!--        &lt;!&ndash; <span></span> <span></span> <span></span>&ndash;&gt;-->
    </div>
</div>

<div class="pageLoader c-page-loader" style="display: none">
    <div class="loader-container">
        <img src="/fw2ezuyzb751/img/coin-machine.gif">
<!--        &lt;!&ndash; <span></span> <span></span> <span></span>&ndash;&gt;-->
    </div>
</div>